@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat";
}
body {
    background-color: #2D2B36;
}
header {
    top: 0;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d3a4a;
    position: fixed;
}
h1 {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
}
li {
    color: white;
}
ul {
    margin: 1vw;
    padding: 1vw;
}
.header__home-btn {
    border: 0;
    position: absolute;
    background: transparent;
    width: 5vh;
    right: 0vw;
    cursor: pointer;
    display: flex;
    align-items: center;
}
p {
    color: white;
    font-size: 2vh;
}
.list-levels {
    margin: 0 auto;
    width: 92vw;
    display: grid;
    grid-template-columns: repeat(1, 90vw);
    gap: 3vw;
}
.list-levels > li {
    height: 29vw;
    font-size: 3vh;
    border-radius: 1vw;
    display: grid;
    grid-template-columns: 10vw 65vw;
    grid-template-rows: 25vw;
    justify-content: center;
    align-items: center;
}
.in-progress {
    background-color: grey;
}
.in-future {
    background-color: #484555;
}
.complete {
    background-color: #77dd77;
}
.list-levels > li {
    padding: 2vw;
}
