@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat";
  outline: none;
}
body {
    background-color: #2D2B36;
}
header {
    top: 0;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d3a4a;
    position: fixed;
}
h1 {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
}
h2 {
  color: white;
  font-size: 3vh;
  text-align: center;
  margin: 0 auto;
}
.btns-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btns-nav > button {
    width: 10vw;
    height: 10vw;
    background: white;
    border: 0;
    border-radius: 1vw;
    padding: 2vw;
}
h3 {
  margin: 3vh 0;
  color: white;
  font-size: 2.5vh;
}
li {
    color: white;
}
ul {
    margin: 1vw;
    padding: 1vw;
}
.username_profile {
    font-size: 8vw;
}

.avatar_profile {
    width: 50vw;
    height: 50vw;
    margin: 10px auto;
    border: 4px solid #595959;
    border-radius: 50%;
}
.info_profile {
    background-color: #1c1b22;
    text-align: center;
    margin: 3px auto;
    width: 140px;
    border: #484555 1px solid;
    font-size: 13px;
    padding: 4px 8px;
}
.profile-input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
}
.create-account {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 5vh;
    border-radius: 1vh;
    margin: 0 auto;
    transform: translate(0, -50%);
    margin-top: 40vh;
}
.create-account > input {
    color: #b5bec7;
    font-weight: 600;
    width: 304px;
}
.create-account > h2 {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
.create-account > button {
    width: 250px;
    padding: 10px 0;
    border-radius: 8px;
}
.header__home-btn {
    border: 0;
    position: absolute;
    background: transparent;
    width: 5vh;
    right: 0vw;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header__profile-btn {
    border: 0;
    position: absolute;
    background: transparent;
    width: 5vh;
    left: 0vw;
    cursor: pointer;
    display: flex;
    align-items: center;
}
p {
    margin: 3vh 0vh;
}
pre code.hljs {
    background-color: white;
}
code[class*="language-"], pre[class*="language-"] {
    color: #595959;
}
p {
    color: white;
    font-size: 2vh;
}
.list-levels {
    margin: 0 auto;
    width: 92vw;
    display: grid;
    grid-template-columns: repeat(1, 90vw);
    gap: 3vw;
}
.list-levels > li {
    height: 29vw;
    font-size: 3vh;
    border-radius: 1vw;
    display: grid;
    grid-template-columns: 10vw 65vw;
    grid-template-rows: 25vw;
    justify-content: center;
    align-items: center;
}
.in-progress {
    background-color: grey;
}
.in-future {
    background-color: #484555;
}
.complete {
    background-color: #77dd77;
}
.list-levels > li {
    padding: 2vw;
}
